body {
    font-family: sans-serif;
    margin: 0;
}

#content-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content-wrapper nav, #content-wrapper #main, {
    height: 100vh;
}

#content-wrapper nav a {
    display: inline-block;
}

#content-wrapper nav {
    width: 200px;
}

#content-wrapper #main {
    flex-grow: 2;
}

#main section {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#overlay {
    display: none; /* Unset by #overlay.visible */
    font-family: sans-serif;
    text-align: center;
}

#overlay * {
    margin: 0;    
}

#overlay.visible {
    display: block;
    position: absolute;
    top: 0;     
    width: 60vw;
    height: 60vh;
    margin: 15vh 20vw 20vh 15vw;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    padding: 5vh 5vw 5vh 5vw;
}

#overlay div.graph {
    width: 100%;
    height: 100%;
}